.schedule {
  transform: translateY(50px);
  padding: 0 6px;
}

.schedule li {
  list-style: none;
}

.schedule button {
  background: transparent;
  border: none;
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
  cursor: pointer;

  padding: 0;
  border-radius: 6px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
}

.schedule button:hover {
  background: var(--hover-background--default);
}

.schedule__content {
  height: 20px;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  color: black;
  text-align: left;

  padding: 5px;
}

/* 제목없음 */
h1:empty:after {
  content: attr(placeholder);
  color: gray;
}
