.todo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-box h1 {
  margin: 5rem 0;
}

.todo-add-box {
  display: flex;
  justify-content: center;
  width: 50rem;
  margin-bottom: 1rem;
}

.todo-add-input {
  width: 80%;
  padding-right: 10px;
  padding: 2px 4px;
}

input.todo-edit-input {
  width: 40rem;
  padding: 2px 4px;
}

input.todo-edit-input:focus,
input.todo-edit-input:hover {
  border: 1px solid #7310c4;
  border-radius: 2px;
}

.todoitem-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.todoItem-content {
  margin: 0;
  width: 45rem;
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-delete-btn, .todo-edit-btn {
  cursor: pointer;
  margin-right: 5px;
  line-height: 0;
}

.todo-delete-btn:hover {
  color: red;
}

.todo-edit-btn:hover {
  color: rgb(74, 169, 74);
}