.tictoc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

.tictoc .today-is {
  font-size: 4em;
  margin: 1rem 0;
}

.tictoc .format-time {
  font-size: 9em;
  margin: 5rem 0;
}

.tictoc-btn {
  cursor: pointer;
  margin: 1rem 0;
}


/* bottom tictoc */
/* 라이트 모드에서 */
.bottom-tictoc-box {
  width: 100%;
  background-color: rgb(230, 230, 230);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0.3rem;
}

.bottom-tictoc-time {
  margin: 0 1.5rem 0 0;
}

.bottom-tictoc-btns {
  margin-right: 1.5rem;
}

.bottom-tictoc-btn {
  cursor: pointer;
  margin: 0.15rem;
}