/* 규칙 이미지 임시로... */
.rules-img {
  margin: 2rem 9rem;
  max-width: 700px;
}

/* SignUp */

/* reset */
body {
  margin: 0;
}

h1,
h3 {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

select,
fieldset,
button {
  all: unset;
}

fieldset {
  display: block;
}

.SignUp {
  height: 100vh;
}

.SignUp .header {
  padding-top: 200px;
  text-align: center;
}

/* signUpForm */
.SignUpForm-container {
  padding: 40px;
  width: 700px;
}

.SignUpForm-container .form-footer {
  padding-top: 40px;
}

.SignUpForm-container button[type="submit"] {
  background-color: var(--point-color);
  color: white;
  padding: 0 90px;
  height: 48px;
  display: inline-flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.input select,
select option {
  text-transform: uppercase;
}

.signForm-title {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.signForm-field + .signForm-field {
  margin-top: 10px;
}

.field-label {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 0.2em;
}

.field_error {
  color: var(--point-red);
  opacity: 0;
}

.signForm-field.valid .field_error {
  opacity: 1;
  color: var(--point-success);
}

.signForm-field.invalid .field_error,
.SignUpForm-container form.invalid .field_error {
  opacity: 1;
}

.signForm-field.invalid .input,
.SignUpForm-container form.invalid .input {
  box-shadow: inset 0 0 0 2px var(--point-red), 0 0 0 2px var(--point-red);
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.form-fieldset {
  padding: 10px;
}

.form-fieldset + .form-fieldset {
  margin-top: 20px;
}

/* ruleForm */

h2,
ol,
li {
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
}

input[type="text"],
input[type="password"],
button {
  all: unset;
}

.RuleForm-container {
  width: 700px;
  margin-top: 200px;
}

.form-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.form-header button {
  color: white;
  background: var(--point-color);
}

.RuleForm-container button {
  font-size: 1rem;
  margin-right: 10px;
}

.form-contents {
  max-height: 400px;
  overflow-y: auto;
}
.input {
  box-shadow: inset 0 0 2px #222;
  border-radius: 8px;
  height: 48px;
  font-size: 24px;
  line-height: 35px;
  transition: all 0.2s;
}

.input:focus-within {
  box-shadow: inset 0 0 0 2px var(--point-color), 0 0 0 2px var(--point-color);
}

.input.invalid {
  box-shadow: inset 0 0 0 2px var(--point-red), 0 0 0 2px var(--point-red);
}
.input.disabled {
  background-color: var(--disabled-color);
  color: #a5a5a5;
}

.input input,
.input select {
  width: 100%;
  box-sizing: border-box;
  padding: 6.5px 14px;
}

.field {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.field span,
.field div {
  flex-basis: 30px;
}

.field span {
  font-size: 24px;
  text-align: center;
}

.field div:nth-child(2) {
  flex-grow: 1.5;
}

.field div:nth-child(3) {
  flex-grow: 4;
}

.field-remove-btn {
  color: white;
  background: var(--point-red);
}
.field-remove-btn[disabled] {
  opacity: 0;
  cursor: default;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
}

/* Admin */
/* Customize */
input[type="checkbox"] {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* Layouts */
.wrapper {
  width: 1080px;
  margin: 0 auto;
}

/* Components */
.admin-header {
}
.admin-contents {
}

.ruleCheck-container {
  display: flex;
  margin: 0 -20px;
  margin-top: 40px;
  overflow-x: auto;
}

.ruleCheck-box {
  background-color: white;
  flex-basis: 33.333333333%;
  margin: 0 20px;
}

.ruleCheck-box-header,
.ruleCheck-box-footer {
  padding: 20px;
  text-align: center;
}
.ruleCheck-box-carousel {
  padding: 20px;
  display: flex;
  align-items: center;
}

.img-frame {
  overflow: hidden;
  max-width: 350px;
  max-height: 200px;
}

.img-frame img {
  width: 400px;
  height: 600px;
}
.ruleCheck-box-content {
  padding: 20px;
}
.ruleCheck-box-content h3 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 40px;
}

.ruleCheck-box-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 20px;
}

.list {
  margin: 0 50px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.list-item input[type="checkbox"] {
  margin-right: 0.6em;
}

.list-item input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.ruleCheck-box-footer h3 {
  font-size: 25px;
}
.ruleCheck-box-footer-button {
  all: unset;
  border-radius: 20px;
  display: inline-flex;
  cursor: pointer;
  background-color: var(--point-color);
  color: white;
  padding: 4px 10px;
}

/* Login */
.login {
  position: absolute;
  inset: 0;
  width: 350px;
  height: calc(100vh / 2);
  margin: auto;
  padding: 0px 20px;
}

.navigate-link {
  display: block;
  color: #222;
  padding: 20px 0;
  margin-top: 20px;
}
.navigate-link:hover {
  text-decoration: underline;
}

.loginForm-field + .loginForm-field {
  margin-top: 15px;
  margin-bottom: 15px;
}
.login-button {
  background-color: var(--point-color);
  color: #ffffff;
  margin: 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.4rem;
}
