/* 댓글 컴포넌트 전체 영역 */
.comment {
  margin: 2rem 9rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* 댓글 한개당 박스 */
.comment li {
  border: 0.2px white solid;
  border-radius: 1em;
  padding: 1.3rem 0.8rem;
  margin: 0.85rem;
  min-width: 600px;
}

/* 프로필 사진과 작성자와 timestamp를 묶은 */
.comment-profile-timestamp-box {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

/* 프로필 사진과 작성자를 묶은 */
.comment-profile-box {
  display: flex;
  align-items: center;
}

/* 댓글 프로필 사진 */
.comment-pf-pic {
  width: 45px;
  height: 45px;
  border-radius: 3em;
  margin-right: 0.5em;
}

.comment-edit-form-box {
  display: flex;
  flex-direction: column;
}

/* 수정 모드시 input과 버튼들 묶은 */
.comment-edit-content {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 댓글 작성자 */
.comment-name {
  margin-left: 0.5rem;
}

/* 수정 모드 아닐 때 댓글 내용 */
.comment-text {
  margin: 1rem 1rem 1rem 2rem;
  width: 90%;
}

/* 댓글 수정 모드시 사용되는 오류 메세지 */
.comment-edit-invalid-span {
  margin: 7px 2rem 0;
  font-size: small;
  color: var(--point-red);
}

/* 댓글 수정 모드시 나타나는 input */
.comment-edit-input {
  display: block;
  font-family: 'Dovemayo_gothic';
  font-size: 16px;
  margin: 0.5rem 1rem 1rem 2rem;
  border-radius: 5px;
  padding: 5px;
}

.comment-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 10px;
}

.comment-btn {
  flex-shrink: 0;
}

/* 댓글 생성 input과 버튼을 감싸는 */
.comment-input-box {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

/* 댓글 생성 input */
input.comment-input {
  width: 40rem;
  border: 1px rgb(173, 173, 173) solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 0.5rem;
}

@media (prefers-color-scheme: light) {
  .comment li {
    border-color: black;
  }
  .comment-edit-input {
    border: 1px rgb(226, 226, 226) solid;
  }
}